button {
    background-color: blue;
}
button:hover{
    background-color: red;
}
#Titulo{
    color: red;
}

.claseLabel {
    font-size: 40px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: aqua;
}