body{
    background-color: aqua;
}

.contenedor {
    background-color: aqua;
    padding: 30px 40px;
    text-align: center;
        }

.Datos {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

        }
.Datos label {
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.Datos input {
    width: 250px;
    padding: 5px;
}
